@import "../../assets/styles/theme/theme_variables";

/*
Use the following with the build tools to generate new client styles for fonts
Remove inherit font settings on the $font-family variables
@import url("https://use.typekit.net/att2ajc.css");

:root {
    font-family: futura-pt,
        "helvetica",
        times,
        serif;
}
*/

// Typography
$headings-font-family: inherit;
$font-family-sans-serif: inherit;
$font-family-base: inherit;

$line-height-base: 1.6;
$headings-font-weight: 700;
$font-weight-base: 400;
$font-weight-normal: $font-weight-base;
$font-weight-bold: 700;

// Colors
$primary: #4CAAB1;
$secondary: #121212;
$success: #4CAAB1;
$info: #f7f7f9;
$warning: #ec971f;
$danger: #843534;
$dark: #000000;
$light: #ffffff;

$link-hover-color: #333333;
$link-color: #121212;

$gray-500: #d2d2d2;
$gray-600: rgba(151, 151, 151, 1);
$gray-700: #2b2b2b;
$gray-800: #767676;
$gray-900: #4a4a4a;
$gray-300: $gray-500;
$body-color: #4a4a4a;
