/****************************************************************************************/
/***************************** c9 core block edits for client C9 Music theme
/****************************************************************************************/
@import "client_variables";

body .editor-styles-wrapper {
	font-size: 10px;
}

.wp-block-pullquote blockquote>.block-library-pullquote__content .editor-rich-text__tinymce[data-is-empty="true"]::before,
.wp-block-pullquote blockquote>.editor-rich-text p {
	font-size: 2em;
}

/* headlings and subheadings */
.c9-h,
.c9-h.h,
.c9-txl,
.editor-styles-wrapper .h1,
.editor-styles-wrapper .h2,
.editor-styles-wrapper .h3,
.editor-styles-wrapper .h4,
.editor-styles-wrapper .h5,
.editor-styles-wrapper .h6,
.editor-styles-wrapper h1,
.editor-styles-wrapper h2,
.editor-styles-wrapper h3,
.editor-styles-wrapper h4,
.editor-styles-wrapper h5,
.editor-styles-wrapper h6 {
	font-weight: $font-weight-bold;
}

/* subheadings and secondary fonts */
.editor-styles-wrapper p.wp-block-subhead,
.editor-styles-wrapper .subhead-h,
.editor-styles-wrapper .c9-sh,
.editor-styles-wrapper .c9-cta .c9-sh p {
	font-family: $font-family-sans-serif;
	font-weight: 300;
}
