/****************************************************************************************/
/***************************** c9 core block edits for client C9 Music theme
/****************************************************************************************/
@import "client_variables";

body .editor-styles-wrapper {
    padding: 0px;
}


.post-type-page .editor-styles-wrapper .block-editor-block-list__layout.is-root-container> :where(:not(.alignleft):not(.alignright):not(.alignfull)) {
    max-width: 1140px;
}

@media only screen and (min-width: 992px) {

    body.post-type-post .edit-post-layout.is-sidebar-opened .wp-block[data-type="core/paragraph"],
    body.post-type-post .edit-post-layout.is-sidebar-opened .wp-block[data-type="core/paragraph"][data-empty="true"],
    body.post-type-post .is-root-container>.block-list-appender.wp-block,
    body.post-type-post:not(.folded) .edit-post-layout.is-sidebar-opened .wp-block[data-type="core/paragraph"],
    body.post-type-post:not(.folded) .edit-post-layout.is-sidebar-opened .wp-block[data-type="core/paragraph"][data-empty="true"] {
        max-width: 900px;
    }
}


html :where(.editor-styles-wrapper) p {
    line-height: 1.6;
}

.wp-block-button .wp-block-button__link:not([href]):not([tabindex]) {
    font-size: 1.4rem;
}

.wp-block-pullquote blockquote>.block-library-pullquote__content .editor-rich-text__tinymce[data-is-empty="true"]::before,
.wp-block-pullquote blockquote>.editor-rich-text p {
    font-size: 2rem;
}

.is-root-container .wp-block-social-links.has-small-icon-size>.wp-block-social-link>button.components-button:not(.button-link):not(.is-tertiary):not(.is-secondary):not(.is-primary):not(.button):not(.edit-post-sidebar__panel-tab):not(.components-panel__body-toggle):not(.block-editor-button-block-appender):not(.has-icon):not(.has-icon.has-text):not(.is-small) {
    font-size: 16px;
}

.is-root-container .wp-block-social-links>.wp-block-social-link>button.components-button:not(.button-link):not(.is-tertiary):not(.is-secondary):not(.is-primary):not(.button):not(.edit-post-sidebar__panel-tab):not(.components-panel__body-toggle):not(.block-editor-button-block-appender):not(.has-icon):not(.has-icon.has-text):not(.is-small) {
    font-size: 24px;
}

.is-root-container .wp-block-social-links.has-large-icon-size>.wp-block-social-link>button.components-button:not(.button-link):not(.is-tertiary):not(.is-secondary):not(.is-primary):not(.button):not(.edit-post-sidebar__panel-tab):not(.components-panel__body-toggle):not(.block-editor-button-block-appender):not(.has-icon):not(.has-icon.has-text):not(.is-small) {
    font-size: 36px;
}

.is-root-container .wp-block-social-links.has-huge-icon-size>.wp-block-social-link>button.components-button:not(.button-link):not(.is-tertiary):not(.is-secondary):not(.is-primary):not(.button):not(.edit-post-sidebar__panel-tab):not(.components-panel__body-toggle):not(.block-editor-button-block-appender):not(.has-icon):not(.has-icon.has-text):not(.is-small) {
    font-size: 48px;
}


/* headlings and subheadings */
.c9-h,
.c9-h.h,
.c9-txl,
.editor-styles-wrapper .h1,
.editor-styles-wrapper .h2,
.editor-styles-wrapper .h3,
.editor-styles-wrapper .h4,
.editor-styles-wrapper .h5,
.editor-styles-wrapper .h6,
.editor-styles-wrapper h1,
.editor-styles-wrapper h2,
.editor-styles-wrapper h3,
.editor-styles-wrapper h4,
.editor-styles-wrapper h5,
.editor-styles-wrapper h6 {
    font-weight: $font-weight-bold;
}

/* subheadings and secondary fonts */
.editor-styles-wrapper p.wp-block-subhead,
.editor-styles-wrapper .subhead-h,
.editor-styles-wrapper .c9-sh,
.editor-styles-wrapper .c9-cta .c9-sh p {
    font-family: $font-family-sans-serif;
    font-weight: 300;
}

.editor-styles-wrapper .wp-block[data-type^="woocommerce/"] .wc-block-grid__products .wc-block-grid__product a:not(.wp-block-button__link) {
    text-decoration: none;
}

@media only screen and (min-width: 1500px) {
    body.folded .is-sidebar-opened .editor-styles-wrapper .wp-block[data-type="c9-blocks/grid"] {
        margin-left: 0;
        margin-right: 0;
    }
}

/* list blocks */
ol[class~="wp-block-list"] li ol li,
.editor-styles-wrapper .c9-grid [data-block] ol[class~="wp-block-list"] li ol li {
    padding-left: 30px;
}

.editor-styles-wrapper .c9-grid ol[class~="wp-block-list"],
.editor-styles-wrapper .c9-grid [data-block] ol[class~="wp-block-list"] {
    padding-left: 46px;
}

.editor-styles-wrapper .c9-grid ol[class~="wp-block-list"] ol,
.editor-styles-wrapper .c9-grid [data-block] ol[class~="wp-block-list"] ol {
    padding-left: 0px;
}

.c9-grid .c9-column-inner>ul[class=""],
.editor-styles-wrapper .c9-grid [data-block] ol[class~="wp-block-list"],
.editor-styles-wrapper .c9-grid [data-block] ul[class~="wp-block-list"],
.is-root-container>ol.wp-block-list,
.is-root-container>ul.wp-block-list,
html :where(.editor-styles-wrapper) .is-root-container>ul.wp-block-list,
ul[class=""] {
    padding: 0px 0px 0px 45px;
}