/****************************************************************************************/
/* C9 Music Client */
/****************************************************************************************/
@import "_client_variables";

a:hover {
	color: $primary;
}

.site-main {
	-webkit-animation-duration: .38s;
	animation-duration: .38s;
	-webkit-animation-fill-mode: both;
	animation-fill-mode: both;
	-webkit-animation-name: slideInUp;
	animation-name: slideInUp;
}

/****************************************************************************************/
/* C9 Music Nav header */
/****************************************************************************************/
.header-navbar .navbar {
	background-color: transparent;
}

/* hide search */
.nav-item.search {
	display: none !important;
}

.header-navbar .navbar-toggler,
.header-navbar .nav-search .btn-nav-search {
	color: $light;
}

.header-navbar .navbar-toggler:hover,
.header-navbar .nav-search .btn-nav-search:hover,
.header-navbar .navbar-toggler:focus,
.header-navbar .nav-search .btn-nav-search:focus {
	color: $gray-500;
}

.header-navbar .navbar-small,
.blog .header-navbar,
.archive .header-navbar,
.single-post .header-navbar,
.error404 .header-navbar,
.search .header-navbar {
	background-color: $primary;
}

.header-navbar .justify-content-center {
	justify-content: flex-end !important;
}

.dropdown-toggle::after {
	border-right: none;
	border-left: none;
}

.header-navbar .navbar .nav .dropdown-toggle::after {
	content: ' \f0e7';
	font-family: FontAwesome;
	margin: 0px;
	padding: 1px 0px 0px 2px;
	border: none;
	font-size: 10px;
}

.header-navbar .navbar .nav .nav-item,
.header-navbar .navbar .nav .nav-item .dropdown-item,
.header-navbar .navbar .nav .nav-item .nav-link,
.header-navbar .navbar .nav .search,
.header-navbar .navbar .nav a::after {
	line-height: 1;
	text-shadow: 0.5px 0.866px 4px rgba(0, 0, 0, 0.92);
}

.header-navbar .navbar .nav .nav-item {
	margin: 0px 14px;
}

.header-navbar .navbar .nav .nav-item .dropdown-menu .nav-item {
	margin: 0px 6px;
}

.header-navbar .navbar .nav>.nav-item>.nav-link:before {
	content: "";
	position: absolute;
	z-index: -1;
	left: 0;
	right: 100%;
	bottom: 0;
	background: $light;
	height: 4px;
	transition-property: right;
	transition-duration: 0.3s;
	transition-timing-function: ease-out;
}

.header-navbar .navbar .nav>.nav-item:hover>.nav-link:before,
.header-navbar .navbar .nav>.nav-item.nav-highlight>.nav-link:before {
	right: 0;
}

.header-navbar .navbar .nav .search .nav-search a {
	font-size: 14px;
}

.header-navbar .navbar .nav .nav-item .dropdown-item,
.header-navbar .navbar .nav .nav-item .nav-link {
	color: $light;
	font-size: 14px;
	font-family: $font-family-sans-serif;
	text-transform: uppercase;
	position: relative;
	letter-spacing: 1px;
	padding: 14px 0px;
}

.header-navbar .navbar .nav .nav-item .dropdown-item {
	padding: 14px;
}

.header-navbar .navbar .nav .nav-item .dropdown-menu .nav-item .nav-link {
	padding: 14px 8px;
}

.header-navbar .nav .nav-item .dropdown-menu {
	background-color: $primary;
	border-radius: 0px;
	margin-top: 1em;
	border: 0px;
	-webkit-animation: fadeInFromNone 0.5s ease-out;
	animation: fadeInFromNone 0.5s ease-out;
}

.header-navbar .nav .nav-item .dropdown-menu.show {
	display: block;
	-webkit-animation: fadeInFromNone 0.5s ease-out;
	animation: fadeInFromNone 0.5s ease-out;
}

.header-navbar .nav .nav-item .dropdown-menu .dropdown-item:hover {
	background-color: $dark;
	color: $light;
}

@-webkit-keyframes fadeInFromNone {
	0% {
		display: none;
		opacity: 0;
	}

	1% {
		display: block;
		opacity: 0;
	}

	100% {
		display: block;
		opacity: 1;
	}
}

@keyframes fadeInFromNone {
	0% {
		display: none;
		opacity: 0;
	}

	1% {
		display: block;
		opacity: 0;
	}

	100% {
		display: block;
		opacity: 1;
	}
}

@-webkit-keyframes slideInUp {
	from {
		transform: translate3d(0, 5px, 0);
		opacity: 0;
	}

	to {
		transform: translate3d(0, 0, 0);
		opacity: 1;
	}
}

@keyframes slideInUp {
	from {
		transform: translate3d(0, 5px, 0);
		opacity: 0;
	}

	to {
		transform: translate3d(0, 0, 0);
		opacity: 1;
	}
}

/****************************************************************************************/
/* nav link hover*/
/****************************************************************************************/
.header-navbar .navbar .nav .nav-item .dropdown-item:hover,
.header-navbar .navbar .nav .nav-item .nav-link:hover {
	color: $light;
}

.header-navbar .navbar:not(.navbar-small) .nav .nav-item .nav-link:hover,
.header-navbar .navbar:not(.navbar-small) .nav .nav-item.active .nav-link {
	color: $light;
}

.header-navbar .navbar .nav .nav-item>.nav-link:focus,
.header-navbar .navbar .nav .nav-item>.nav-link:active {
	color: $light;
}

.header-navbar .navbar.navbar-small .nav .nav-item.active>.nav-link {
	color: $light;
}

/****************************************************************************************/
/* mobile navigation background*/
/****************************************************************************************/
@media only screen and (max-width: 667px) {
	.header-navbar .navbar {
		background-color: $primary;
	}
}

@media only screen and (max-width: 991px) {

	.header-navbar .navbar-collapse,
	.header-navbar .navbar-collapse.show {
		background-color: $primary;
		left: 0;
	}
}

/****************************************************************************************/
/* transparent page header navigation on desktop */
/****************************************************************************************/

@media only screen and (min-width: 768px) {

	#page-wrapper {
		margin-top: -108px;
	}
}

/****************************************************************************************/
/* typography*/
/****************************************************************************************/

.h1,
.h2,
.h3,
.h4,
.h5,
.h6,
.c9 h1,
.c9 h2,
.c9 h3,
.c9 h4,
.c9 h5,
.c9 h6,
.editor-styles-wrapper h1,
.editor-styles-wrapper h2,
.editor-styles-wrapper h3,
.editor-styles-wrapper h4,
.editor-styles-wrapper h5,
.editor-styles-wrapper h6,
.c9-h,
.c9-h.h,
.c9-txl,
.display-1,
.display-2,
.display-3,
.display-4,
.display-5,
.display-6,
.editor-styles-wrapper .c9-cta .c9-h p {
	text-transform: uppercase;
	font-weight: $headings-font-weight;
}

.c9-heading strong {
	font-weight: 900;
}

.c9-heading .c9-h,
.c9-heading .c9-sh,
.c9-heading .c9-txl {
	letter-spacing: -.5px;
}

.single-post .c9 h1 {
	text-transform: none;
	font-weight: $headings-font-weight;
	font-size: 2.8em;
}

p.wp-block-subhead,
.subhead-h,
.c9-sh,
.c9-heading .c9-h .text-muted,
.c9-heading .c9-sh .text-muted,
.c9-heading .c9-txl .text-muted {
	font-weight: 200;
}

.c9 textarea {
	line-height: 1.5;
}

.entry-content p.has-background,
.editor-styles-wrapper p.has-background {
	margin: 0px;
	padding: 2px 4px;
}

.entry-content p.has-background strong,
.editor-styles-wrapper p.has-background strong {
	display: inline-block;
	line-height: 1;
}

.c9-block-post-grid header .c9-block-post-grid-title a {
	font-weight: 700;
}

#fullscreensearch form .btn {
	font-family: $font-family-base;
	padding: 16px 55px;
	font-size: 1.2em;
	border-radius: 34px;
	margin-top: 20px;
}

.entry-content a:not(.wp-block-button__link):not(.nav-tabs):not([class|=c9-share]):not(.c9-smooth),
.entry-title a {
	color: $link-color;
}

.entry-title a {
	text-decoration: none;
}

.entry-title a:hover {
	text-decoration: underline;
}

.entry-content .c9-grid-has-background .has-text-color a {
	color: $light !important;
}

.entry-content .c9-grid-has-background .has-text-color a:hover {
	color: $primary !important;
}

.entry-content a:not(.wp-block-button__link):hover {
	color: $link-hover-color;
}

.entry-content .has-covertnine-palette-1-color a {
	color: $light;
}

.entry-content .has-covertnine-palette-1-color a:hover {
	color: $gray-500;
}

.entry-content .c9-cta-content .c9-cta-text p,
.c9-cta-content .c9-cta-text p {
	font-size: inherit;
}

/****************************************************************************************/
/* post navigation, tags, categories, on single posts */
/****************************************************************************************/
.single .navigation .nav-next a,
.single .navigation .nav-previous a {
	text-transform: uppercase;
	font-weight: 700;
	letter-spacing: 1px;
}

.single .navigation .nav-next a:hover,
.single .navigation .nav-previous a:hover {
	color: $primary;
}

@media only screen and (min-width: 768px) {
	.single .entry-footer {
		padding: 0px;
	}
}

.entry-footer .cat-links {
	font-size: 14px;
}

.entry-footer .cat-links,
.entry-footer .tag-links {
	margin-bottom: 20px;
	display: block;
}

/* tags */
.i-tag,
.tags-links,
.tags-links a {
	font-weight: 900;
	letter-spacing: 1px;
	text-decoration: none;
	text-transform: uppercase;
	color: $gray-900;
	font-size: 12px;
}

.tags-links a {
	padding-left: 8px;
}

.i-tag:hover,
.tags-links a:hover {
	color: $gray-500;
}

.i-tag:before,
.tags-links a:before {
	display: inline;
	content: "\f02b";
	font: normal normal normal 1.2em/1 FontAwesome;
	color: $primary;
	padding-right: 2px;
}

/****************************************************************************************/
/* blog index */
/****************************************************************************************/
.container-posts {
	margin-top: 3em;
}

.c9-block-post-grid header .c9-block-post-grid-title {
	margin-bottom: 0px;
}

.c9-block-post-grid .c9-block-post-grid-excerpt,
.c9-block-post-grid .c9-block-post-grid-byline {
	display: none;
}

.c9-block-post-grid .c9-block-post-grid-text {
	display: grid;
	align-items: center;
	justify-content: center;
}

.entry-meta {
	color: #121212;
}

/****************************************************************************************/
/* blog single */
/****************************************************************************************/
.entry-big-header .entry-title-box .entry-meta,
.entry-big-header .entry-title-box .entry-meta .posted-on,
.entry-big-header .entry-title-box .entry-meta .posted-on a,
.entry-big-header .entry-title-box .entry-meta .byline,
.entry-big-header .entry-title-box .entry-meta .author a {
	font-size: 12px;
	color: $light;
}

.entry-big-header .entry-title-box .entry-meta .posted-on a,
.entry-big-header .entry-title-box .entry-meta .author a {
	text-decoration: underline;
}

.entry-big-header .entry-title-box .entry-meta a:hover {
	color: #4CAAB1 !important;
}

/****************************************************************************************/
/* WordPress Gutenberg Block Specifics */
/****************************************************************************************/

/* invert link colors on posts grid */
.entry-content .light-color-text .c9-block-post-grid-title a,
.editor-styles-wrapper .light-color-text .c9-block-post-grid-title a {
	color: #fff;
	font-weight: 700;
	text-decoration: none;
}

/* carousel captions */
.carousel-item .carousel-caption h5 {
	font-weight: 700;
}

/* tabs + toggles */
.editor-styles-wrapper .c9-vertical-tabs .nav-pills .nav-link,
.c9-vertical-tabs .nav-pills .nav-link {
	text-transform: uppercase;
	font-weight: 200;
	letter-spacing: 1px;
}

.editor-styles-wrapper .c9-vertical-tabs .nav-pills .nav-link.active,
.c9 .c9-vertical-tabs .nav-pills .nav-link.active {
	background-color: #f1f1f1;
	color: #fff;
}

/* list items */
.entry-content ol:not(.wp-block-gallery) li,
.entry-content ul:not(.blocks-gallery-grid) li {
	margin: 10px 0px;
}

.editor-styles-wrapper .is-root-container ul[data-type="core/list"] li:before,
.editor-styles-wrapper .editor-rich-text ul:not(.wp-block-gallery) li:before,
.editor-styles-wrapper .wp-block-latest-posts li:before,
.entry-content ul:not(.blocks-gallery-grid) li:before {
	font-size: 14px;
	content: "\f18e";
	font-family: fontawesome;
	left: -10px;
	position: relative;
	margin-right: 14px;
}

.entry-content>ul:not(.blocks-gallery-grid),
.entry-content>ul:not(.blocks-gallery-grid) li,
.editor-styles-wrapper .is-root-container ul[data-type="core/list"],
.entry-content ul:not(.blocks-gallery-grid),
.editor-styles-wrapper ul,
.editor-styles-wrapper ul li {
	list-style: none;
}

.entry-content ol li:before,
.editor-styles-wrapper ol li:before {
	color: $primary;
}

.editor-styles-wrapper ul li:before,
.entry-content ul li:before,
.editor-styles-wrapper ol li:before,
.entry-content ol li:before {
	margin: 0 4px 0 -27px;
}

.entry-content ul .dark-color-text {
	color: $dark;
}

.entry-content ul:not(.blocks-gallery-grid) li:before,
.editor-styles-wrapper ul:not(.wp-block-gallery) li:before,
.widget_archive ul li:before,
.widget_categories ul li:before,
.widget_categories ul li:before,
.widget_pages ul li:before,
.widget_meta ul li:before,
.widget_recent_comments ul li:before,
.widget_recent_entries ul li:before,
.widget_rss ul li:before,
.widget_text ul li:before,
.widget_nav_menu ul li:before,
.widget_product_categories ul li:before {
	color: $primary;
}

.editor-styles-wrapper .editor-rich-text ul.dark-list li,
.entry-content ul.dark-list li,
.editor-styles-wrapper .editor-rich-text ol.dark-list li,
.entry-content ol.dark-list li {
	color: $body-color;
}

.editor-styles-wrapper .editor-rich-text ul.light-list li,
.entry-content ul.light-list li,
.editor-styles-wrapper .editor-rich-text ol.light-list li,
.entry-content ol.light-list li {
	color: $light;
}

/* editor block quote style */
.editor-styles-wrapper blockquote,
.entry-content blockquote,
.wp-block-quote:not(.is-large):not(.is-style-large) {
	border-left-color: $primary;
}

.editor-styles-wrapper blockquote:before,
.entry-content blockquote:before {
	color: $primary;
}

.wp-block-quote.light-quote p {
	color: $light;
}

/* wp-block-gallery */
.c9 .entry-content .wp-block-gallery .blocks-gallery-grid {
	margin: 20px 0px;
	padding-left: 0px;
}

/****************************************************************************************/
/* Client default colors, button colors + background colors */
/****************************************************************************************/
.c9-block-post-grid header .c9-block-post-grid-title a {
	color: $gray-900;
}

.has-color-red-color {
	color: $primary !important;
}

.has-color-white-color {
	color: $light !important;
}

.has-color-black-color {
	color: $dark !important;
}

.has-color-gray-color {
	color: $gray-900 !important;
}

.bg-primary {
	background-color: $primary;
}

.bg-secondary {
	background-color: $secondary;
}

.bg-success {
	background-color: $success;
}

.bg-info {
	background-color: $info;
}

.bg-warning {
	background-color: $warning;
}

.bg-danger {
	background-color: $danger;
}

.bg-dark {
	background-color: $dark;
}

.has-covertnine-palette-1-background-color {
	background-color: #fff;
}

/****************************************************************************************/
/* Client buttons */
/****************************************************************************************/
.c9 button,
.btn,
.btn:visited,
.entry-content .btn,
.entry-content .btn:visited,
.entry-content button,
.entry-content input[type="button"],
.entry-content input[type="reset"],
.entry-content input[type="submit"],
.entry-content .button,
.entry-content .wp-block-button:not(.is-style-outline) .wp-block-button__link,
.wp-block-button__link,
.site .wp-block-button__link,
.wp-block-button:not(.is-style-outline) .wp-block-button__link.mce-content-body,
.wp-block-file__button,
.wp-block-file .wp-block-file__button {
	text-transform: uppercase;
	font-weight: 700;
	font-family: $font-family-base;
	letter-spacing: .09em;
	font-size: 12px;
	text-decoration: none;
	border-radius: 0px;
}

@media only screen and (max-width: 768px) {

	.c9-cta .wp-block-button__link.c9-button-size-small,
	.c9-cta .wp-block-button__link.c9-button-size-medium,
	.c9-cta .wp-block-button__link.c9-button-size-large,
	.c9-cta .wp-block-button__link.c9-button-size-extralarge {
		font-size: 12px;
	}
}

.btn:hover,
.entry-content button:hover,
.wp-block-button a:hover,
.wp-block-button__link:hover {
	opacity: .8;
}

.btn:focus,
.entry-content button:focus,
.wp-block-button a:focus,
.wp-block-button__link:focus,
.wp-block-file__button:focus {
	box-shadow: -1px -1px 20px -5px rgba(90, 89, 89, 0.75);
	-webkit-box-shadow: -1px -1px 20px -5px rgba(90, 89, 89, 0.75);
	-moz-box-shadow: -1px -1px 20px -5px rgba(90, 89, 89, 0.75);
}

.btn-secondary,
.c9 .entry-content .btn-secondary {
	background-color: $secondary;
}

.wp-block-button.is-style-outline .wp-block-button__link:not(.has-text-color),
.wp-block-button.is-style-outline .wp-block-button__link:not([href]):not([tabindex]),
.wp-block-button__link.c9-button-shape-outline,
.is-style-outline .wp-block-button__link {
	border: 2px solid;
}

.c9 button:hover,
.btn:hover,
.wp-block-button__link:hover,
.entry-content .c9-share-list a:hover {
	opacity: 0.8;
	color: $light;
}

/* search results */
.updated {
	display: none;
}

/****************************************************************************************/
/* WooCommerce Specifics */
/****************************************************************************************/

.woocommerce-page .site-main {
	margin: 0px auto;
}

/* product grid link titles */
.wc-block-grid__product-link,
.wc-block-grid__product-title,
.wc-block-grid__product-link .wc-block-grid__product-title {
	text-decoration: none;
}

.wc-block-grid__product-link:hover .wc-block-grid__product-title,
.wc-block-grid__product-link:hover .wc-block-grid__product-title:hover {
	text-decoration: none;
	color: #4caab1;
}

.woocommerce ul.products li.product .onsale,
.woocommerce span.onsale {
	box-sizing: content-box;
}

@media only screen and (min-width: 1200px) {
	.woocommerce-page .site-main {
		max-width: 1140px;
	}
}

@media only screen and (min-width: 667px) {
	.woocommerce-page .site-main {
		padding: 0px 30px;
	}
}

@media only screen and (min-width: 1px) {
	.woocommerce-page .site-main {
		padding: 0px 15px;
	}
}

/* make gutenberg columns responsive */
@media only screen and (max-width: 415px) {

	.wc-block-grid.has-2-columns .wc-block-grid__products,
	.wc-block-grid.has-3-columns .wc-block-grid__products,
	.wc-block-grid.has-4-columns .wc-block-grid__products,
	.wc-block-grid.has-5-columns .wc-block-grid__products,
	.wc-block-grid.has-6-columns .wc-block-grid__products {
		display: flex;
	}

	.wc-block-grid.has-2-columns .wc-block-grid__product:nth-child(even),
	.wc-block-grid.has-4-columns .wc-block-grid__product:nth-child(even),
	.wc-block-grid.has-6-columns .wc-block-grid__product:nth-child(even) {
		padding: 0px;
	}

	.wc-block-grid.has-2-columns .wc-block-grid__product,
	.wc-block-grid.has-4-columns .wc-block-grid__product,
	.wc-block-grid.has-6-columns .wc-block-grid__product {
		flex: 1 0 50%;
		max-width: 50%;
	}

	.wc-block-grid.has-5-columns .wc-block-grid__product,
	.wc-block-grid.has-3-columns .wc-block-grid__product {
		flex: 1 0 100%;
		max-width: 100%;
	}

}

.wc-block-grid__product:before {
	display: none;
}

.c9 .entry-content .wp-block-button__link:active,
.c9 .entry-content .wp-block-button__link:focus,
.c9 .entry-content .wp-block-button__link:hover,
.c9 .entry-content .wp-block-button__link:visited {
	white-space: nowrap;
}

.c9 .woocommerce .woocommerce-form-login .woocommerce-form-login__submit {
	letter-spacing: 1px;
	font-weight: 200;
}

.c9 .woocommerce-button,
.c9 .woocommerce .button {
	color: #fff !important;
}

.c9 .wc-block-grid__products:only-child {
	margin-bottom: 0px;
}

.woocommerce-page .header-navbar {
	background-color: $primary;
}

.c9 .woocommerce-Price-amount,
.c9 .wc-block-grid__product-price.price {
	color: $gray-900;
}

.woocommerce-page .c9 .entry-content ul.order_details {
	margin: 0px 0px 30px 0px !important;
}

.woocommerce-page .c9 .entry-content ul.order_details li:before {
	display: none;
}

.woocommerce-account #page-wrapper {
	margin-top: 0px;
}

/* woocommerce store notice */
.woocommerce-store-notice,
p.demo_store {
	background-color: $secondary;
	font-size: 1.6em;
	top: auto;
	bottom: 0;
	position: fixed;
	height: 50px;
	display: flex;
	align-items: center;
	justify-content: center;
}

.woocommerce-store-notice__dismiss-link {
	margin: 0px 8px;
}

/*******************************************************************************************/
.wc-block-grid__product-title,
.woocommerce-Price-amount,
.woocommerce-message,
.woocommerce-info,
.woocommerce-notice,
.woocommerce-breadcrumb,
.woocommerce-result-count,
.products,
.c9.woocommerce nav.woocommerce-pagination ul li span,
.c9.woocommerce nav.woocommerce-pagination ul li .page-numbers,
.quantity input,
.select2-results__option,
#add_payment_method table.cart td.actions .coupon .input-text,
.woocommerce-cart table.cart td.actions .coupon .input-text,
.woocommerce-checkout table.cart td.actions .coupon .input-text,
.single_variation_wrap,
.wc-block-product-categories select,
.archive nav .pagination .page-item .page-link,
.blog nav .pagination .page-item .page-link,
.c9 .woocommerce nav.woocommerce-pagination ul li .page-numbers,
.c9 .woocommerce nav.woocommerce-pagination ul li span,
.page-search-results nav .pagination .page-item .page-link,
.post-page-numbers,
.single .navigation .nav-next a,
.single .navigation .nav-previous a {
	font-size: 16px;
}

.c9 .woocommerce #respond input#submit,
.c9 .woocommerce a.button,
.c9 .woocommerce button.button,
.c9 .woocommerce input.button,
.c9 #add_payment_method .wc-proceed-to-checkout a.checkout-button,
.woocommerce-cart .wc-proceed-to-checkout a.checkout-button,
.woocommerce-checkout .wc-proceed-to-checkout a.checkout-button,
.woocommerce-page.woocommerce #respond input#submit.alt,
.woocommerce-page.woocommerce a.button.alt,
.woocommerce-page.woocommerce button.button.alt,
.woocommerce-page.woocommerce input.button.alt {
	font-weight: 400;
	letter-spacing: 1px;
	color: $light;
	background-color: $dark;
	font-size: 12px;
	font-family: $font-family-base;
	padding: 7px 30px;
	border-radius: 34px;
}

.c9 .woocommerce #respond input#submit:hover,
.c9 .woocommerce a.button:hover,
.c9 .woocommerce button.button:hover,
.c9 .woocommerce input.button:hover {
	background-color: $gray-900;
	color: #fff;
	opacity: .95;
}

.woocommerce-page.woocommerce #respond input#submit,
.woocommerce-page.woocommerce a.button,
.woocommerce-page.woocommerce button.button,
.woocommerce-page.woocommerce input.button {
	background-color: $gray-900;
	color: $light;
	padding: 7px 30px;
	letter-spacing: 1px;
	font-weight: 400;
	font-size: 12px;
	font-family: $font-family-base;
	text-transform: uppercase;
}

.woocommerce-page.woocommerce #respond input#submit:hover,
.woocommerce-page.woocommerce a.button:hover,
.woocommerce-page.woocommerce button.button:hover,
.woocommerce-page.woocommerce input.button:hover {
	background-color: $dark;
	color: $light;
}


.c9 .woocommerce-MyAccount-content {
	margin-top: 30px;
}

.c9 .woocommerce table.shop_table {
	border-radius: 0px;
}

.c9 #wcsts_new_ticket_box_title {
	background-color: transparent;
}

/* dialog notices */
.woocommerce-error {
	padding-top: 15px !important;
}

.woocommerce-error li,
.woocommerce-info li,
.woocommerce-message li {
	padding-left: 35px !important;
	padding-bottom: 5px !important;
	padding-top: 0px !important;
}

.c9 .woocommerce .woocommerce-notices-wrapper ul {
	margin: 0px 0px 30px 0px !important;
	padding: 15px 30px !important;
}

.c9 .woocommerce .woocommerce-notices-wrapper ul li:before {
	display: none;
}

.c9 .woocommerce .woocommerce-notices-wrapper ul li {
	color: $dark;
}

.c9 .woocommerce-error::before,
.c9 .woocommerce-info::before,
.c9 .woocommerce-message::before {
	top: 15px;
	left: 5px;
}

/* WooCommerce Forms */
.c9 .woocommerce form .form-row .input-text,
.c9 .woocommerce-page form .form-row .input-text,
.c9 .select2-container .select2-selection--single,
.single-product.woocommerce form.cart input[type="number"] {
	height: 50px;
	border: 1px solid #ccc;
}

.variations {
	font-size: 1.6em;
}

.c9 .woocommerce div.product form.cart .variations select {
	-moz-appearance: none;
	-webkit-appearance: none;
	border-radius: 0;
	padding-left: 12px;
	height: 50px;
	position: relative;
	z-index: 20;
	border: 1px solid #ccc;
	background-color: #fff;
	color: $gray-900;
}

.c9 .woocommerce select {
	border: 1px solid #ccc;
	background-color: #fff;
}

.c9 .select2-container--default .select2-selection--single .select2-selection__arrow {
	height: 50px;
	right: 10px;
}

.c9 .select2-container--default .select2-selection--single .select2-selection__rendered {
	line-height: 50px;
}

.c9 .select2-container--default .select2-selection--single {
	padding: 2px 8px;
	border: 1px solid $gray-500;
	line-height: 1;
	font-size: 16px;
}

/* login form */
.c9 .woocommerce .woocommerce-form-login,
.c9 .woocommerce form.login,
.c9 .woocommerce form.register {
	max-width: 450px;
}

/* user account admin panel*/
.c9 .woocommerce-Addresses {
	margin-top: 30px;
}

.c9 .woocommerce-Addresses .woocommerce-Address {
	max-width: 100%;
}

.c9 .select2-container--default .select2-selection--single {
	border-radius: 0px;
}

/* woocommerce buttons */
#add_payment_method .wc-proceed-to-checkout a.checkout-button,
.c9 .woocommerce a.button.alt.checkout-button,
.c9 .woocommerce button.button.alt.checkout-button,
.c9 .woocommerce input.button.alt.checkout-button,
.single-product.woocommerce #respond input#submit.alt,
.single-product.woocommerce a.button.alt,
.single-product.woocommerce button.button.alt,
.single-product.woocommerce input.button.alt,
.woocommerce-checkout.woocommerce #payment #place_order,
.woocommerce-checkout.woocommerce-page #payment #place_order {
	background-color: $success;
	padding: 16px 33px;
	transition: background-color .4s ease-out;
}

.c9 .woocommerce button.button,
.woocommerce #respond input#submit.disabled,
.woocommerce #respond input#submit:disabled,
.woocommerce #respond input#submit:disabled[disabled],
.woocommerce a.button.disabled,
.woocommerce a.button:disabled,
.woocommerce a.button:disabled[disabled],
.woocommerce button.button.disabled,
.woocommerce button.button:disabled,
.woocommerce button.button:disabled[disabled],
.woocommerce input.button.disabled,
.woocommerce input.button:disabled,
.woocommerce input.button:disabled[disabled] {
	padding: 16px 33px;
}

#add_payment_method .wc-proceed-to-checkout a.checkout-button:hover,
.c9 .woocommerce a.button.alt.checkout-button:hover,
.c9 .woocommerce button.button.alt.checkout-button:hover,
.c9 .woocommerce input.button.alt.checkout-button:hover,
.single-product.woocommerce #respond input#submit.alt:hover,
.single-product.woocommerce a.button.alt:hover,
.single-product.woocommerce button.button.alt:hover,
.single-product.woocommerce input.button.alt:hover,
.woocommerce-page .woocommerce #respond input#submit.alt,
.woocommerce-page .woocommerce a.button.alt,
.woocommerce-page .woocommerce button.button.alt,
.woocommerce-page .woocommerce input.button.alt {
	background-color: $dark;
}

.woocommerce-page .woocommerce #respond input#submit.alt:hover,
.woocommerce-page .woocommerce a.button.alt:hover,
.woocommerce-page .woocommerce button.button.alt:hover,
.woocommerce-page .woocommerce input.button.alt:hover {
	background-color: $gray-900;
}

/* orders */
.woocommerce table.my_account_orders .button {
	min-width: 115px;
	text-align: center;
	margin: 5px;
	font-size: 1em;
}

.woocommerce table.my_account_orders .button.pay {
	background-color: $success;
}

.woocommerce table.my_account_orders .button.cancel {
	background-color: $danger;
}

.woocommerce table.my_account_orders .button.wcsts-get-help-button {
	background-color: $primary;
}

/*checkout form*/
.c9 .woocommerce #content table.cart td.actions .coupon,
.c9 .woocommerce table.cart td.actions .coupon,
.c9 .woocommerce-page #content table.cart td.actions .coupon,
.c9 .woocommerce-page table.cart td.actions .coupon {
	display: flex;
	align-items: center;
}

.c9 .woocommerce #content table.cart td.actions .coupon .input-text,
.c9 .woocommerce table.cart td.actions .coupon .input-text,
.c9 .woocommerce-page #content table.cart td.actions .coupon .input-text,
.c9 .woocommerce-page table.cart td.actions .coupon .input-text,
.c9 .woocommerce-page table.cart td.actions .coupon #coupon_code {
	width: 125px !important;
}

.c9 .shop_table tr th {
	letter-spacing: .1em;
}

.c9 .woocommerce table.shop_table {
	border: 0px;
	font-size: 1.6em;
}

.editor-styles-wrapper table.shop_table tbody tr td,
.entry-content table.shop_table tbody tr td {
	box-shadow: none;
}

#add_payment_method .cart-collaterals .cart_totals tr td,
#add_payment_method .cart-collaterals .cart_totals tr th,
.woocommerce-cart .cart-collaterals .cart_totals tr td,
.woocommerce-cart .cart-collaterals .cart_totals tr th,
.woocommerce-checkout .cart-collaterals .cart_totals tr td,
.woocommerce-checkout .cart-collaterals .cart_totals tr th {
	border-top: 0px !important;
	border-bottom: 0px !important;
}

.woocommerce.woocommerce-checkout .col2-set .col-1,
.woocommerce-page.woocommerce-checkout .col2-set .col-1,
.woocommerce.woocommerce-checkout .col2-set .col-2,
.woocommerce-page.woocommerce-checkout .col2-set .col-2 {
	max-width: 100%;
}

#add_payment_method #payment ul.payment_methods li,
.woocommerce-cart #payment ul.payment_methods li,
.woocommerce-checkout #payment ul.payment_methods li {
	color: $gray-900;
}

#add_payment_method #payment ul.payment_methods,
.woocommerce-cart #payment ul.payment_methods,
.woocommerce-checkout #payment ul.payment_methods {
	border-bottom: none !important;
}

.woocommerce-checkout.woocommerce form .form-row label.checkbox,
.woocommerce-checkout.woocommerce-page form .form-row label.checkbox {
	display: block;
	margin-top: 30px;
	margin-bottom: 30px;
}

.woocommerce-checkout.woocommerce #payment #place_order,
.woocommerce-checkout.woocommerce-page #payment #place_order {
	float: left;
}

#add_payment_method #payment,
.woocommerce-cart #payment,
.woocommerce-checkout #payment {
	background-color: transparent !important;
	border-radius: 0px !important;
}

/* payment form */
#add_payment_method #payment div.payment_box::before,
.woocommerce-cart #payment div.payment_box::before,
.woocommerce-checkout #payment div.payment_box::before {
	display: none !important;
}

.woocommerce-checkout.woocommerce .woocommerce-checkout #payment .payment_box,
#add_payment_method #payment div.payment_box,
.woocommerce-cart #payment div.payment_box,
.woocommerce-checkout #payment div.payment_box {
	background-color: #ffffff !important;
}

/* woocommerce check out and cart media queries */
@media only screen and (min-width: 768px) {

	.woocommerce-cart .c9 .entry-content,
	.woocommerce-checkout .c9 .entry-content {
		margin-top: 138px;
	}
}

.woocommerce-checkout .woocommerce .checkout ul li {
	padding: 20px;
}

.woocommerce-checkout .woocommerce .checkout ul li:before {
	display: none;
}

/* product single */
.woocommerce div.product p.price,
.woocommerce div.product span.price {
	color: $success !important;
}

.woocommerce .product_meta {
	display: none;
}

.woocommerce .woocommerce-product-details__short-description {
	font-size: 1.5em;
	line-height: 1.7;
}

.woocommerce #content div.product div.summary,
.woocommerce div.product div.summary,
.woocommerce-page #content div.product div.summary,
.woocommerce-page div.product div.summary {
	width: 65%;
}

.woocommerce.single-product div.product div.woocommerce-product-gallery {
	width: 28%;
}

.single-product .site-main {
	max-width: 960px;
	margin: 20px auto 0px auto;
}

.single-product.woocommerce .woocommerce-breadcrumb {
	font-size: 1.4em;
	line-height: 1.6;
	text-transform: uppercase;
	color: $gray-900;
	font-weight: 200;
	margin: 30px 0px;
}

@media only screen and (max-width: 768px) {
	.single-product.woocommerce .woocommerce-breadcrumb {
		margin: 20px 0px;
	}

	.single-product.woocommerce div.product .product_title {
		line-height: 1;
	}
}

@media only screen and (max-width: 568px) {
	.single-product.woocommerce .woocommerce-breadcrumb {
		font-size: 1.8em;
	}
}

.single-product .c9 .product .entry-meta,
.single-product .c9 .site-main .post-navigation {
	display: none;
}

.single-product.woocommerce div.product .product_title {
	font-size: 5em;
}

.single-product .tabs.wc-tabs,
.single-product .woocommerce-Tabs-panel h2:first-child {
	display: none;
}

/*single product media queries */
@media only screen and (max-width: 768px) {

	.woocommerce #content div.product div.summary,
	.woocommerce div.product div.summary,
	.woocommerce-page #content div.product div.summary,
	.woocommerce-page div.product div.summary {
		width: 48%;
		float: right;
	}

	.single-product.woocommerce #content div.product div.images,
	.single-product.woocommerce div.product div.images,
	.single-product.woocommerce-page #content div.product div.images,
	.single-product.woocommerce-page div.product div.images {
		width: 48%;
		float: left;
		margin-right: 4%;
	}

	.single-product.woocommerce div.product,
	.single-product.woocommerce .woocommerce-notices-wrapper,
	.single-product.woocommerce .woocommerce-breadcrumb {
		padding-left: 15px;
		padding-right: 15px;
	}

	.woocommerce.woocommerce-page .woocommerce-error>li {
		color: $gray-900 !important;
		padding: 0px !important;
	}

	.single-product.woocommerce div.product .cart .single_add_to_cart_button.button.alt {
		margin: 0px auto;
		display: block;
	}
}

@media only screen and (max-width: 568px) {

	.woocommerce #content div.product div.summary,
	.woocommerce div.product div.summary,
	.woocommerce-page #content div.product div.summary,
	.woocommerce-page div.product div.summary {
		width: 100%;
		float: none;
	}

	.single-product.woocommerce #content div.product div.images,
	.single-product.woocommerce div.product div.images,
	.single-product.woocommerce-page #content div.product div.images,
	.single-product.woocommerce-page div.product div.images {
		width: 100%;
		float: none;
		margin-right: 0%;
	}
}

/****************************************************************************************/
/* Footer */
/****************************************************************************************/
.site :focus,
.site button:focus {
	outline-color: $gray-900;
}

.footer-entirety {
	overflow: visible;
	clear: both;
}

.footer-entirety .textwidget {
	font-size: inherit;
}

.footer-entirety .footer-widget {
	font-size: 1.4em;
}

.footer-entirety .footer-search input[type="submit"] {
	font-size: 12px;
}

@media only screen and (max-width: 1024px) {

	#footer-full-content .row {
		display: grid;
		grid-auto-flow: row dense;
		grid-column: 1 / 4;
	}

	#footer-full-content .row :nth-child(3) {
		grid-column: span 2;
	}

	#footer-full-content .row .col-md-4 {
		max-width: 100%;
	}
}

.widget_nav_menu .menu-item a,
.widget_recent_entries a {
	color: $gray-900;
	text-decoration: none;
}

.widget_nav_menu .menu-item a:hover,
.widget_recent_entries a:hover {
	color: $gray-700;
	text-decoration: underline;
}

.footer-entirety .widget-title {
	font-size: 1.4em;
}

.widget ul li,
.widget_archive ul li,
.widget_categories ul li,
.widget_meta ul li,
.widget_nav_menu ul li,
.widget_pages ul li,
.widget_recent_comments ul li,
.widget_recent_entries ul li,
.widget_rss ul li,
.widget_text ul li,
.widget_recent_entries ul li {
	margin: 14px 0px;
}

.footer-search-wrapper .footer-search .input-group>.input-group-append>.btn:hover {
	color: $light;
	background-color: $primary;
}
